*.c linguist-language=C
*.h linguist-language=C
*.S linguist-language=Assembly
*.dts linguist-language=DeviceTree
*.dtsi linguist-language=DeviceTree
*.py linguist-language=Python
*.rs linguist-language=Rust
*.rst linguist-documentation
*.patch linguist-generated
